<div id="ajouterVille" (click)="openDialogBox()"><mat-icon>add</mat-icon></div>

<div id="errorLogDiv" *ngIf="errorLog !== '' && errorLog !== null">
    <p id="errorLog">{{errorLog}}</p>
</div>

<div id="array">

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
  </mat-form-field>
    
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort [ngClass]="'customWidthTable'">
    
        <!-- Heure Column -->
        <ng-container matColumnDef="heure">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthHeure customTH'"> Heure </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClassHeure'"> {{element.heure}} </td>
        </ng-container>
    
        <!-- Temperature Column -->
        <ng-container matColumnDef="temperature">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthTemperature customTH'"> Température </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClassTemperature'"> {{element.temperature}}°Celsius </td>
        </ng-container>
    
        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthTemps customTH'"> Temps </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClassTemps'"> <img src='{{element.image}}' /> </td>
        </ng-container>
    
        <!-- Ville Column -->
        <ng-container matColumnDef="ville">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthVille customTH'"> Ville </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'customWidthClassVille'"> 
            {{element.ville}}
            <a class="link" [routerLink]="['/detail?id={{element.id}}']">
              <mat-icon>error_outline</mat-icon>
            </a>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="pageSize" [length]="totalElements" (page)="changePage($event)"></mat-paginator>
  </div>

</div>
