<div id="header">

    <script src="node_modules/angular-openweathermap-api-factory/dist/angular-openweathermap-api-factory.min.js"></script>

  <table id="banner">

    <tr>

      <td id="tdIconLeft">
          <div id="logo-header-div">
              <a [routerLink]="['/']"><mat-icon>home</mat-icon></a>
          </div>
      </td>


      <td id="tdTitle">
          <div id="title-header"> Test Ametix: API Météo</div>
      </td>

      <td id="tdIconRight">
          <!--<mat-icon>add</mat-icon>-->
      </td>

    </tr>

  </table>

</div>
